.wp-block-separator {
  width: 15rem;
  height: 3px;
  border: 0;
  background: var(--wp--preset--color--warm-insight);
  opacity: 0.75;
}

.wp-block-separator {
  opacity: 1;

  &.is-style-wide {
    width: 100%;
  }

  &.is-style-dots {
    height: .8rem;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    &:before {
      color: var(--wp--preset--color--warm-insight);
      font-family: inherit;
      font-size: var(--wp--preset--font-size--normal);
      letter-spacing: 1.5em;
      padding-left: 1.5em;
      transform: scale(1.5);
    }
  }

  &.is-style-separator-thin {
    border-top: 1px !important;
    height: 1px;
  }

  &.is-style-separator-thin-wide {
    width: 100%;
    border-top: 1px !important;
    height: 1px;
  }

  &.is-style-separator-stripes {
    background: repeating-linear-gradient(
      135deg,
      var(--wp--preset--color--warm-insight),
      var(--wp--preset--color--warm-insight) 1px,
      transparent 1px,
      transparent 4px
    ) !important;
    border: 0;
    height: 0.8rem;
    width: unset;
  }
}
