.wp-block-code {
    white-space: pre !important;
    overflow-x: scroll;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: var(--wp--custom--border--radius--large);
    padding: 1em 0 1em 1em;
    background: #f5f5f5;
    font-family: monospace, sans-serif;

    code {
        padding: 1em 0 1em 1em;
        white-space: pre;
    }
}