.wp-block-pullquote {
  font-size: var(--wp--preset--font-size--large) !important;

  p {
    font-family: var(--wp--preset--font-family--inter);
    font-weight: 700;
    margin-bottom: var(--wp--preset--spacing--tiny);

    &:before {
      content: "“ ";
    }

    &:after {
      content: " ”";
    }
  }

  cite {
    font-style: normal;
    font-size: 0.85em;
  }
}
