.wp-block-post-comments-form .comment-form {
  textarea {
    line-height: var(--wp--custom--line-height--normal);
  }
}

.wp-block-post-comments-form .comment-form input:not([type=submit]):not([type=checkbox]):not([type=hidden]) {
    line-height: var(--wp--custom--line-height--normal);
}