.single-post {
  article {
    p,
    .wp-block-list {
      font-size: var(--wp--preset--font-size--medium);
    }

    p {
      margin-top: 1.3em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      + p {
        margin-top: 0.8em;
      }
    }
  }
}
