/* Yoast Table of Contents */
.yoast-table-of-contents {
  background-color: var(--wp--preset--color--pale-blue);
  padding: var(--wp--preset--spacing--s) var(--wp--preset--spacing--s)
    var(--wp--preset--spacing--s) var(--wp--preset--spacing--m);
  border-radius: var(--wp--custom--border--radius--medium);
  margin-top: var(--wp--preset--spacing--s);
  margin-bottom: var(--wp--preset--spacing--m);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: var(--wp--preset--spacing--xxs);
    font-size: var(--wp--preset--font-size--l);
    line-height: var(--wp--custom--line-height--tight);
  }

  li {
    &::marker {
      color: var(--wp--preset--color--light-blue);
    }
  }

  > ol,
  > ul {
    margin-bottom: 0;
    padding-left: 0;
    font-size: var(--wp--preset--font-size--xs);
    font-family: var(--wp--preset--font-family--stack-primary);
    font-weight: 700;

    > li {
      padding-top: 0;

      > ol,
      > ul {
        padding-top: var(--wp--preset--spacing--xxs);
        padding-left: var(--wp--preset--spacing--xxxs);
      }
    }
  }
}
