.beyond-fse-header {
  .wp-block-navigation:not(.has-background)
    .wp-block-navigation__responsive-container {
    &.is-menu-open {
      background-color: var(--wp--preset--color--surface-second);
      padding-left: var(--wp--style--root--padding-right);
      padding-right: var(--wp--style--root--padding-right);

      .wp-block-navigation__responsive-container-content {
        .wp-block-navigation__container {
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }

  .wp-block-navigation__responsive-container {
    &.is-menu-open {
      .wp-block-navigation__responsive-container-content {
        .wp-block-navigation__submenu-container {
          padding-top: 0;
        }
      }
    }
  }

  .wp-block-navigation {
    .wp-block-navigation__submenu-icon {
      width: 1em;
      height: 1em;
      color: var(--wp--preset--color--header-navigation);
    }

    @media (min-width: 782px) {
      .has-child {
        .wp-block-navigation__submenu-container {
          .wp-block-navigation__submenu-icon {
            margin-right: 0;
            transform: translateX(-10px);
          }
        }
      }
    }

    .wp-block-navigation-item {
      .wp-block-navigation-item__content {
        color: var(--wp--preset--color--header-navigation);
        background-color: transparent;
        text-decoration: underline;
        text-decoration-color: transparent;
        text-decoration-thickness: 3px;
        text-underline-offset: 6px;
        transition:
          color var(--wp--custom--transition-timing--default),
          text-decoration-color var(--wp--custom--transition-timing--default);
      }

      &:hover {
        > .wp-block-navigation-item__content {
          color: var(--wp--preset--color--header-navigation);
          text-decoration-color: var(--wp--preset--color--link-vapor);
        }
      }
    }

    // 1st level menu items
    > .wp-block-navigation-item {
      &:hover {
        > .wp-block-navigation-item__content {
          text-decoration-color: var(--wp--preset--color--link-vapor);
        }

        .wp-block-navigation__submenu-icon {
          &:after {
            transform: rotate(180deg);
          }
        }
      }

      &.current-menu-item,
      &.current-menu-ancestor {
        > .wp-block-navigation-item__content {
          text-decoration-color: var(--wp--preset--color--warm-insight);
        }
        &:hover {
          > .wp-block-navigation-item__content {
            text-decoration-color: var(--wp--preset--color--link-vapor);
          }
        }
      }
    }

    // 1st level menu items in page list
    .wp-block-page-list {
      > .wp-block-navigation-item {
        &:hover {
          > .wp-block-navigation-item__content {
            text-decoration-color: var(--wp--preset--color--link-vapor);
          }

          .wp-block-navigation__submenu-icon {
            &:after {
              transform: rotate(180deg);
            }
          }
        }

        &.current-menu-item,
        &.current-menu-ancestor {
          > .wp-block-navigation-item__content {
            text-decoration-color: var(--wp--preset--color--warm-insight);
          }
          &:hover {
            > .wp-block-navigation-item__content {
              text-decoration-color: var(--wp--preset--color--link-vapor);
            }
          }
        }
      }
    }

    // 2nd level
    .wp-block-navigation-item {
      > .wp-block-navigation__submenu-container {
        transform: translateX(-1.5rem);

        .wp-block-navigation-item {
          .wp-block-navigation__submenu-container {
            top: -1rem;
            transform: none;
          }
        }
      }
    }

    .wp-block-navigation
      .has-child
      .wp-block-navigation-submenu__toggle[aria-expanded="true"]
      ~ .wp-block-navigation__submenu-container,
    .wp-block-navigation
      .has-child:not(.open-on-click):hover
      > .wp-block-navigation__submenu-container,
    .wp-block-navigation
      .has-child:not(.open-on-click):not(.open-on-hover-click):focus-within
      > .wp-block-navigation__submenu-container {
      border-radius: var(--wp--custom--border--radius--medium);
      box-shadow: var(--wp--preset--shadow--double-soft);
      padding: 1rem 0;
      min-width: 275px !important;

      > .wp-block-navigation-item {
        font-size: var(--wp--preset--font-size--small);
        text-transform: initial;
        color: var(--wp--preset--color--syntax-heading);
        font-weight: 700;
        background: transparent;
        > .wp-block-navigation-item__content {
          color: currentColor;
          text-underline-offset: 3px;
          line-height: 1;
          padding: 0.5rem 1.5rem;
          border-radius: var(--wp--custom--border--radius--medium);
          background-color: transparent;
        }

        &.current-menu-item {
          > .wp-block-navigation-item__content {
            color: var(--wp--preset--color--deep-beyond);
            text-decoration: underline;
            text-decoration-color: var(--wp--preset--color--warm-insight);
            text-decoration-thickness: 0.125rem;
            text-underline-offset: 1.5px;
            text-decoration-skip-ink: auto;
            transition: color var(--wp--custom--transition-timing--default);
          }

          &:hover {
            > .wp-block-navigation-item__content {
              color: var(--wp--preset--color--syntax-heading);
            }
          }
        }
      }
    }
    &:not(.has-background) {
      .wp-block-navigation__submenu-container {
        background: var(--wp--preset--color--surface-prime);
        border: none;
      }
    }
  }

  .wp-block-navigation__responsive-container-close {
    right: var(--wp--preset--spacing--normal);
    top: var(--wp--preset--spacing--normal);
  }
}
