.melapress-header {
  position: relative;
  z-index: 500;

  &.is-position-sticky {
    position: sticky;
    top: var(--wp-admin--admin-bar--position-offset);
    background-color: #ffffffe5; // 90% opacity
    backdrop-filter: blur(10px);
  }

  // class for hiding items on tablet view and below
  .mls-tablet-hide {
    visibility: hidden;
    height: 0;
    width: 0;

    @media (min-width: 1025px) {
      visibility: visible;
      height: auto;
      width: auto;
    }

    // Hide mobile nav opener for header top
    @media (max-width: 1024px) {
      .wp-block-navigation {
        display: none;
      }
    }
  }

  // class for hiding items on desktop (above teblet)
  .mls-desktop-hide {
    @media (min-width: 1025px) {
      visibility: hidden;
      height: 0;
      width: 0;
    }
  }

  @media (min-width: 1025px) {
    // class for hiding items on desktop (above teblet) with display none
    .mls-desktop-none {
      display: none;
    }

    // class for hiding menu items on desktop from the item with the class
    .mls-desktop-hide-items-from {
      display: none !important;

      ~ li {
        display: none !important;
      }
    }
  }

  > .wp-block-group {
    .wp-block-columns {
      height: var(--melapress-header-height);

      > .wp-block-column {
        position: relative;

        @media (min-width: 1025px) {
          &:last-of-type {
            height: 100%;

            .wp-block-group {
              height: 100%;
              .wp-block-buttons {
                margin-left: 24px !important;
              }
              .wp-block-navigation {
                height: 100%;

                .wp-block-navigation__responsive-container {
                  height: 100%;

                  * {
                    height: 100%;
                    display: flex;
                    align-items: center;
                  }
                }
              }
            }
          }
        }

        .wp-block-site-logo {
          visibility: visible;
          opacity: 1;
          transition: opacity var(--wp--custom--transition-timing--default);

          &.mls-light {
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 1;
          }
        }

        html.has-modal-open & {
          .wp-block-site-logo {
            opacity: 0;
            visibility: hidden;

            &.mls-light {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      &.is-not-stacked-on-mobile {
        > .wp-block-column {
          @media (max-width: 1024px) {
            &:first-child {
              flex-basis: 60% !important;
            }
            &:last-child {
              flex-basis: 40% !important;
            }

            .wp-block-site-logo {
              img {
                max-width: 223px;
              }
            }
          }

          @media (max-width: 600px) {
            .wp-block-site-logo {
              img {
                max-width: 172px;
              }
            }
          }
        }
      }
    }
  }
  .wp-block-navigation {
    order: 100;
    @media (min-width: 1025px) {
      order: initial;
    }
    .wp-block-navigation__submenu-icon {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 12px;
      height: 12px;
      margin-left: 5px;
      color: var(--wp--preset--color--navy-blue);
      transition: color var(--wp--custom--transition-timing--default);
      svg {
        display: none;
      }

      @include mlsMaskIconSVG("menu-arrow", $width: 11px, $height: 7px);
    }

    .wp-block-navigation-item {
      font-size: var(--wp--preset--font-size--s);
      color: var(--wp--preset--color--navy-blue);
      background-color: transparent;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 4px;
      text-underline-offset: 11px;
      transition: color var(--wp--custom--transition-timing--default),
        text-decoration-color var(--wp--custom--transition-timing--default);

      a {
        color: currentColor;
        font-weight: 400;
        line-height: 2.2;
      }
      &.mls-menu-item-heading {
        margin-top: -2px;
        background-color: var(--wp--preset--color--navy-blue) !important;
        z-index: 20;

        &:before {
          content: "";
          width: calc(100% + 2.9em);
          height: 2px;
          border-bottom: 2px dotted;
          left: -1.45em;
          margin-top: 22px;
          position: relative;
        }
        > a {
          padding-top: 6px !important;
        }
        > * {
          font-family: var(--wp--preset--font-family--stack-primary);
          font-size: var(--wp--preset--font-size--m);
          font-weight: 700;
          line-height: var(--wp--custom--line-height--tight);
          letter-spacing: -0.01em;
          color: var(--wp--preset--color--pale-blue);
          &:hover {
            color: var(--wp--preset--color--pale-blue);
          }
        }
      }
      .mls-menu-item-label {
        > * {
          font-size: var(--wp--preset--font-size--xs);
          font-weight: 700;
          line-height: var(--wp--custom--line-height--tight);
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: var(--wp--preset--color--grey-blue);
          &:hover {
            color: var(--wp--preset--color--grey-blue);
          }

          @media (max-width: 1024px) {
            color: var(--wp--preset--color--pale-blue);
            &:hover {
              color: var(--wp--preset--color--pale-blue);
            }
          }
        }
      }
      .wp-block-navigation__submenu-icon {
        color: currentColor;
      }
      &:hover {
        color: var(--wp--preset--color--feature-blue);
      }
    }

    // 1st level menu items
    > .wp-block-navigation-item {
      &:hover {
        text-decoration-color: var(--wp--preset--color--light-blue);

        .wp-block-navigation__submenu-icon {
          &:after {
            transform: rotate(180deg);
          }
        }
      }

      &.current-menu-item,
      &.current-menu-ancestor {
        text-decoration-color: var(--wp--preset--color--coral);
        &:hover {
          text-decoration-color: var(--wp--preset--color--light-blue);
        }
      }
    }

    // 2nd level
    .wp-block-navigation__submenu-container {
      border-radius: var(--wp--custom--border--radius--medium);
      box-shadow: var(--wp--preset--shadow--double-soft);
      padding: 2rem 1.5rem;

      > .wp-block-navigation-item {
        font-family: var(--wp--preset--font-family--stack-secondary);
        font-size: var(--wp--preset--font-size--s);
        text-transform: initial;
        > .wp-block-navigation-item__content {
          line-height: 1;
          padding: 1rem 1.125rem;
          border-radius: var(--wp--custom--border--radius--medium);
          background-color: transparent;
          transition: background-color
            var(--wp--custom--transition-timing--default);
        }

        &:hover:not(.mls-menu-item-label) {
          > .wp-block-navigation-item__content {
            background-color: #d9e4fd80;
          }
        }

        &.current-menu-item {
          > .wp-block-navigation-item__content {
            color: var(--wp--preset--color--navy-blue);
            text-decoration: underline;
            text-decoration-color: var(--wp--preset--color--coral);
            text-decoration-thickness: 0.125rem;
            text-underline-offset: 1.5px;
            text-decoration-skip-ink: auto;
            transition: color var(--wp--custom--transition-timing--default);
          }

          &:hover {
            > .wp-block-navigation-item__content {
              color: var(--wp--preset--color--feature-blue);
            }
          }
        }
      }

      // sub levels
      .wp-block-navigation-item.mls-menu-item-label {
        .wp-block-navigation-item__content {
          line-height: 1.25rem;
          padding: 0;
        }
      }
    }
    &:not(.has-background) {
      .wp-block-navigation__submenu-container {
        background: rgba(255, 255, 255, 0.95);
        border: none;
      }
    }

    .has-child
      .wp-block-navigation-submenu__toggle[aria-expanded="true"]
      ~ .wp-block-navigation__submenu-container,
    .has-child:not(.open-on-click):hover
      > .wp-block-navigation__submenu-container,
    .wp-block-navigation
      .has-child:not(.open-on-click):not(.open-on-hover-click):focus-within
      > .wp-block-navigation__submenu-container {
      min-width: 240px;
      max-width: 360px;
      width: max-content;
      display: block !important;
      height: auto !important;

      @media (max-width: 1024px) {
        display: block !important;
      }
    }
  }

  // RESPONSIVE - tablet & mobile
  html.has-modal-open & {
    position: absolute;
    top: 0;
    width: 100%;

    .wp-block-site-logo,
    .wp-block-mls-block-fs-search {
      position: relative;
      z-index: 100005;
    }

    .wp-block-mls-block-fs-search {
      .mls-search-toggle {
        color: var(--wp--preset--color--pale-blue);
      }
    }
  }

  .wp-block-navigation {
    &:not(.has-background) {
      .wp-block-navigation__responsive-container.is-menu-open {
        background-color: var(--wp--preset--color--navy-blue);
        height: 100vh;
      }
    }
  }

  .wp-block-navigation__responsive-container.is-menu-open {
    .wp-block-navigation__responsive-container-content {
      padding-top: var(--melapress-header-height);

      .wp-block-navigation-item__content {
        line-height: 2.2;
      }
      .has-child {
        .wp-block-navigation__submenu-container {
          width: 100%;
          max-width: 100%;
          padding: 1rem 0 0.5rem 1.5rem;
          display: none;
        }

        > .wp-block-navigation-item__content {
          > .wp-block-navigation-item__label {
            @include mlsMaskIconSVG("menu-arrow", $width: 11px, $height: 7px);
          }
        }
      }
    }

    .wp-block-navigation__responsive-container-content
      .wp-block-navigation__container {
      gap: 0;

      .wp-block-navigation-item {
        .wp-block-navigation-item__content {
          width: 100%;
          border-radius: 0;
          background-color: transparent;
          padding: 0;
          gap: var(--wp--preset--spacing--xxxs);

          .mls-menu-item-image-holder {
            width: 30px;
            height: 30px;

            .mls-menu-item-image {
              max-width: 28px;
              max-height: 28px;
            }
          }
        }
        &:not(:last-child) {
          .wp-block-navigation-item__content {
            border-bottom: 2px solid var(--wp--preset--color--light-blue);
          }
        }
      }
    }

    .wp-block-navigation__responsive-container-content
      .wp-block-navigation-item,
    .wp-block-navigation__responsive-container-content
      .wp-block-navigation__container,
    .wp-block-navigation__responsive-container-content .wp-block-page-list {
      color: var(--wp--preset--color--pale-blue) !important;
      width: 100%;
      align-items: flex-start;
      text-decoration-color: transparent;
    }
  }

  // Header for product pages
  &.mls-product {
    // Top header
    > .wp-block-group:first-of-type {
      .wp-block-columns {
        height: var(--melapress-product-top-header-height);

        .wp-block-navigation {
          // Only 1st level nav
          > .wp-block-navigation-item {
            font-family: var(--wp--preset--font-family--stack-primary);
            font-size: var(--wp--preset--font-size--xs);
            color: var(--wp--preset--color--white);
            text-transform: uppercase;
          }
        }

        .wp-block-mls-block-fs-search {
          .mls-search-toggle {
            color: var(--wp--preset--color--white);

            &:hover {
              color: var(--wp--preset--color--white);
            }
          }
        }
      }
    }
    // Bottom header
    > .wp-block-group:last-of-type {
      .wp-block-columns {
        height: var(--melapress-product-bottom-header-height);

        .wp-block-navigation__responsive-container-close {
          top: 23px;
        }
      }
    }
  }
}

.has-modal-open {
  .wp-block-navigation__responsive-close {
    max-width: 100%;
    margin: 0;
    padding: 0 1.45em;
  }
}

.has-modal-open
  .admin-bar
  .melapress-header
  .is-menu-open
  .wp-block-navigation__responsive-dialog {
  margin-top: 0 !important;
}
