.beyond-fse-header {
  .wp-block-navigation:not(.has-background)
    .wp-block-navigation__responsive-container {
    &.is-menu-open {
      background-color: var(--wp--preset--color--syntax-heading);
      padding-left: var(--wp--style--root--padding-right);
      padding-right: var(--wp--style--root--padding-right);

      .wp-block-navigation__responsive-container-content {
        .wp-block-navigation__container {
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }
    }
  }

  .wp-block-navigation {

    .wp-block-navigation-item {
      color: var(--wp--preset--color--white);
      background-color: transparent;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 3px;
      text-underline-offset: 6px;
      transition: color var(--wp--custom--transition-timing--default),
        text-decoration-color var(--wp--custom--transition-timing--default);

      a {
        color: currentColor;
      }
      &:hover {
        color: var(--wp--preset--color--white);
      }
    }

    // 1st level menu items
    > .wp-block-navigation-item {
      &:hover {
        text-decoration-color: var(--wp--preset--color--link-vapor);

        .wp-block-navigation__submenu-icon {
          &:after {
            transform: rotate(180deg);
          }
        }
      }

      &.current-menu-item,
      &.current-menu-ancestor {
        text-decoration-color: var(--wp--preset--color--warm-insight);
        &:hover {
          text-decoration-color: var(--wp--preset--color--link-vapor);
        }
      }
    }

    // 2nd level
    .wp-block-navigation__submenu-container {
      border-radius: var(--wp--custom--border--radius--medium);
      box-shadow: var(--wp--preset--shadow--double-soft);
      padding: 2rem 1.5rem;

      > .wp-block-navigation-item {
        font-family: var(--wp--preset--font-family--stack-secondary);
        font-size: var(--wp--preset--font-size--normal);
        text-transform: initial;
        > .wp-block-navigation-item__content {
          line-height: 1;
          padding: 1rem 1.125rem;
          border-radius: var(--wp--custom--border--radius--medium);
          background-color: transparent;
          transition: background-color
            var(--wp--custom--transition-timing--default);
        }

        &.current-menu-item {
          > .wp-block-navigation-item__content {
            color: var(--wp--preset--color--deep-beyond);
            text-decoration: underline;
            text-decoration-color: var(--wp--preset--color--warm-insight);
            text-decoration-thickness: 0.125rem;
            text-underline-offset: 1.5px;
            text-decoration-skip-ink: auto;
            transition: color var(--wp--custom--transition-timing--default);
          }

          &:hover {
            > .wp-block-navigation-item__content {
              color: var(--wp--preset--color--syntax-heading);
            }
          }
        }
      }
    }
    &:not(.has-background) {
      .wp-block-navigation__submenu-container {
        background: rgba(255, 255, 255, 0.95);
        border: none;
      }
    }
  }
}
