.beyond-fse-footer {
  margin-block-start: 0;

  nav.wp-block-navigation {
    a {
      font-size: var(--wp--preset--font-size--small);
      font-weight: 400;
      line-height: var(--wp--custom--line-height--tight);
    }
  }

  p {
    a {
      text-decoration-color: var(--wp--preset--color--warm-insight);
      &:hover {
        text-decoration-color: var(--wp--preset--color--warm-insight);
      }
    }
  }
}
