input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  @include input-styles;
}

select {
  font-family: var(--wp--preset--font-family--inter);
  font-size: var(--wp--preset--font-size--normal);
  font-weight: 700;
  letter-spacing: -0.015em;
  color: var(--wp--preset--color--link-vapor);
  border: var(--wp--custom--border--radius--small) solid
    var(--wp--preset--color--link-vapor);
  border-radius: var(--wp--custom--border--radius--small);
  line-height: 1.4em;
  padding: 11px var(--wp--preset--spacing--s) 11px 12px;
  appearance: none; // hide default chevron
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxOSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xLjUgMS41TDkuNSA5LjVMMTcuNSAxLjUiIHN0cm9rZT0iIzQ1NEJGNyIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjwvc3ZnPg0K");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxOSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xLjUgMS41TDkuNSA5LjVMMTcuNSAxLjUiIHN0cm9rZT0iI0I2QzNGMiIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjwvc3ZnPg0K");
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 16px;
    color: var(--wp--preset--color--link-vapor);
    border-color: inherit;
    box-shadow: none;
    text-shadow: none;
    opacity: 1;
    cursor: not-allowed;
  }

  option {
    background-color: var(--wp--preset--color--warm-insight);
  }
}

textarea {
  width: 100%;
}
