a {
    color: var(--wp--preset--color--syntax-heading);
    font-weight: inherit;

    &:visited {
        color: var(--wp--preset--color--syntax-heading);
        font-weight: inherit;
    }

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
