a {
    color: var(--wp--preset--color--link-vapor);
    font-weight: inherit;

    &:visited {
        color: var(--wp--preset--color--link-vapor);
        font-weight: inherit;
    }

    &:focus {
        outline: thin dotted;
    }

    &:hover,
    &:active {
        outline: 0;
    }

    &:hover,
    &:focus,
    &:active {
        color: var(--wp--preset--color--link-vapor)
    }
}
