ul,
ol {
  margin: 0 0 var(--wp--preset--spacing--tiny) var(--wp--preset--spacing--xxxs);
  padding-left: var(--wp--preset--spacing--normal);
}

ul,
ol {
  margin: 0 0 var(--wp--preset--spacing--tiny);
  padding: 0 0 0 var(--wp--preset--spacing--medium);
  line-height: 1.4em;

  > li {
    margin-bottom: var(--wp--preset--spacing--tiny);
    list-style-position: outside;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

ul {
  list-style: disc;

  li {
    &::marker {
      color: var(--wp--preset--color--warm-insight);
    }
  }
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5rem;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5rem var(--wp--preset--spacing--tiny);
}

.beyond-fse-header ul,
.beyond-fse-footer ul {
  list-style: none;
  margin: 0;

  li {
    margin: 0;
  }
}
