/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
}

:is(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color
    var(--wp--custom--transition-timing--default);
}

:is(
    h1:focus a,
    h1:hover a,
    h2:focus a,
    h2:hover a,
    h3:focus a,
    h3:hover a,
    h4:focus a,
    h4:hover a,
    h5:focus a,
    h5:hover a,
    h6:focus a,
    h6:hover a
  ) {
  text-decoration-color: currentColor;
}

p {
  margin: 1em 0;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong,
.has-display-hero-font-size strong,
.has-xxxl-font-size strong,
.has-xxl-font-size strong,
.has-xl-font-size strong,
.has-l-font-size strong,
.has-m-font-size strong,
.mls-testimonial-text strong {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1NzEgMTMiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxwYXRoIGZpbGw9IiNGRjg5NzciIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0ibTU3MCAxMSAxIDFoLTJabS00LTJ2MWgzbC0yIDFjMS0xIDAtMS0xLTFsLTIgMiAyLTNabS0yMTcgMyAyIDEtMy0xaDFaTTEwNyAwYy0yIDEgMCAxIDAgMmgtNWwxIDFoNy0xYzEgMSAyIDAgMy0xbDMgMmMxLTEgMS0yIDMtMWgtMSA0Yy0xIDAtMSAwIDAgMGw0LTJ2MWg2bDMtMWgzbC0xIDFjNC0yIDggMCAxMSAwbDEgMWMyIDAgMy0zIDUtM2wtMSAxaDh2MWw0LTFjMiAzIDEwLTEgMTQgMlYxaDJsMyAxYy0xIDIgMSAwIDIgMGwyLTFjNCAxIDExIDAgMTQgMmwxMy0yYzIgMCA1IDEgNSAzbDMtMWgxYzItMSA0LTIgNi0xaC0xIDZjMyAyIDktMSAxMyAwdjFjMi0yIDctMiA5LTJsLTEgMWMzLTEgMiAyIDYgMWwtMi0yaDNsMiAxLTEgMSAzIDJoMWMtMS0xIDMtMSAxLTJsMSAxYzEtMSAyIDAgMS0yIDUgMCA5IDIgMTMgMSAyIDIgOSAwIDggM2w2LTJoLTIgNWwtNiAyIDctMiAxIDJjMi0xIDEgMSAzLTFsNy0yLTEgMWg0LTJsMiAyYzIgMCAxLTEgMi0yIDEgMSAwIDEtMSAybDgtMmg3LTFjMiAxIDYtMSA2IDEgMSAwLTIgMC0xIDEgMyAxIDItMiA1LTFoLTEgOS0xYzMgMSA4LTEgMTAgMWwxLTFjMSAxIDEgMCAyLTFoNWMtMiAwLTEgMS0yIDIgMyAwIDQtMyA3LTJsMiAxYzAtMiAzLTEgMy0xbDEgMWgzbC0xLTFoOXYyaDVsMS0xaC0zbDItMWgtNGMyIDAgMiAwIDEtMWg1bDEgMmg1djFsMi0xaC0xbDMtMWMyIDAgMi0xIDEtMSAxIDAgMiAwIDEgMSAzIDAgMi0yIDUtMSAwIDAtMSAwIDAgMGgxYy0yIDEgMCAyLTIgMWwyIDFoMWMyLTEgMC0yIDEtMmgybC0xLTFoMmwtMSAxaDVjMCAxLTIgMSAwIDIgMi0xIDAgMCAyIDEgMiAwIDAtMiA0LTFWNGw2IDFWNGwzIDFWNGMxIDEgMCAxLTEgMS0yIDAtMiAyIDAgMnMyLTEgMi0yYzMgMSAzLTIgNi0xbDQgMi0xLTFWNGMzIDMgNy0xIDExIDBsLTEgMmgzbC0xLTFjMSAwIDMgMCAyIDFoNS0yIDRsMSAxIDctMS0xIDFoMTFsLTItMSAyIDEgMS0xaDRsMi0xYzEgMSAwIDIgMiAybDEtMnYxLTEgMWwyIDFoLTFsMSAxIDEtMS0xIDFoMXYxYzIgMCAxLTEgMS0yVjZoN2wtMSAxIDItMWgxbDEtMS0xIDFoMWwtMiAxaDJsMy0xIDIgMWg0YzMgMCA2IDEgNi0xbDIgMWgzbC0xIDFjMSAxIDMtMSA0IDEgMi0xLTEtMSAwLTJsMyAxIDIgMSAxLTFWN2wxIDEgMS0xIDEgM2MzLTIgMC0yIDQtM2gtMSA2bC0xIDFoNGwtMSAyIDMtMS0xIDFoNi0xYzAgMSAwIDIgMiAxdi0xaDFsLTUgMiAyLTItNSAyIDItMi0zIDF2LTFoLTRsMS0xLTggMmMtNCAyLTctMS05IDB2MWwtMS0xYy0yIDItMyAwLTQgMWwtMS0xYzAtMS0yIDAgMC0yaDEtMWMtMiAxLTQgMC02IDJoLTEgMS0zbC0yLTEgMi0xYy0xLTEtMyAxLTUgMWwyLTEtMyAxVjljLTMtMS0yIDItNCAxdjFjMC0xLTItMiAwLTJsLTMgMSAxIDFoLTQgMWwtNy0xdjFsLTctMS0xIDEtNi0xLTkgMXYtMWMtMiAxLTQtMi00IDBoLTEgMWwtMTIgMWMtMS0xIDIgMCAxLTFoLThjLTItMSAxIDEtMiAxbC0xLTFoLTEgMVY5bC02IDIgMS0yaC0zbC0xIDFoMWExMSAxMSAwIDAgMS0yIDBsMS0xaC0yYy0zLTEtMSAwLTMgMWwyIDFoLTNsMS0xLTUgMWgxbC0yIDFjMC0yLTMgMC0yLTItMy0xLTYgMS05IDFoLTEgMWMtMi0xLTQgMC01IDFsMS0xLTQgMXYtMWwtMiAxYzMtMy0yLTEtMS0zbC00IDItMTEgMWgtMWwxLTFjLTQtMS03IDEtMTEgMmwyLTFoMWwyLTEtMTQgMWMtMi0yLTUgMS04LTFsLTMgMnYtMWgtMiAybC0xLTFoLTVsLTUgMWgtMTNsLTEtMWMwIDEtNCAyLTUgMWwxLTFjLTYgMi0xMiAwLTE5IDFsMS0xYy0zLTEtMyAyLTYgMmwtMjYtMiAxIDFoLTlsLTctMWgtMTFjLTEgMCAyLTEgMC0xbC00IDFjLTQgMi0xMC0yLTE1LTFsLTItMSAxIDEtOSAxYzEtMS0yLTEtMi0yLTEgMSAxIDEtMSAybC04LTEtMyAxLTkgMXYtMWMtMiAyLTQgMC01IDBsMS0xLTIgMWMxLTEgMi0yIDAtMnYxbC0xLTFjLTEgMC0yIDIgMCAyaC0xMiAxbC02LTEtMSAxaC0ybDEtMS01IDEtNS0yIDEgMS0xIDEtMS0yLTIgMVY5bC0zIDItNy0yYzAgMi00LTEtNSAxbC0xMC0xaC02IDFjLTItMS0zIDEtNSAxVjljLTMtMS04IDAtMTIgMVY5Yy0xIDEgMCAyLTEgMWwtMiAxYy00LTEtOS0yLTE0LTFWOWwtMTAgMS0xLTFoLTMgMmMtMy0xLTIgMS01IDFsMS0yLTMgMS0xIDFjLTMgMi0xLTMtNi0ybC0xIDJoLTdWOWgxVjhsMiAxYy0yLTEgMiAwIDItMmwtNiAxYzAtMSAyIDAgMS0xaC0xIDEtMnYxbDEgMWgtMiAxVjhjLTMgMi02IDEtOCAyVjlsLTQgMmMtMS0xIDEtMy0yLTIgMCAxIDAgMi0yIDJsMS0xLTItMWMtMSAxLTItMS0zIDFsLTEtMi0zIDJjMC0xIDItMSAxLTJWN2wtMSAxaC0xbC0yIDItMy0xaDFsLTggMWMxLTItNiAwLTMtMmwtNCAyYzEtMi0yLTEtMy0ybC00IDEgMS0xaC0yYy0yIDAgMCAxLTIgMlY4TDcgOUgzaDJWOEwyIDljLTMtMS0yLTMtMS00VjRoMS0xIDFMMSAzbDQtMiAyIDEgMSAxIDQtMXYxaDVWMmM0LTEgNiAyIDkgMWwzLTF2MWw0LTFjNyAyIDE2IDAgMjMgMWg4VjJoOHYxYzMtMS0xIDAgMSAxIDEtMiA0LTEgNi0yaC0xYzAgMSAwIDIgMSAxIDItMiA2LTEgMTAtMmw0IDMgMS0xIDMtMWE5NyA5NyAwIDAgMC0yIDBoLTF2MWwtMS0xIDEtMWg2djFsNy0yWm00NDYgMTF2MWgtMSAxLTFsMS0xWm0tMTUxIDAtMSAxdi0xaDFaTTEwMiA3djFoMmwtMi0xWm00MjItMnYxbC0xIDEgMS0yWk0zNzYgM3YxLTFaTTk2IDFoLTEgMi0xWm00NTEgMTAgMiAxLTItMVptLTkxLTEtMSAxLTEtMWgyWm03OC0zYzIgMC0xLTMgMi0xbC0xIDFabS02LTFzMiAxIDAgMS0xLTEgMC0xWm0tNjEtMS0xIDFjMC0xLTEtMSAxLTFaTTM0OSA0YzIgMCAxIDEgMCAxWm0tNDUgMCAyIDEtMi0xWk0xNzYgMWwtMSAxaC0xbDItMVptMzg4IDExaC0yIDIiLz48L3N2Zz4=")
    no-repeat;
  background-position: center bottom;
  background-size: 100% 17%;
}
