/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em;
}

:is(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color
    var(--wp--custom--transition-timing--default);
}

:is(
    h1:focus a,
    h1:hover a,
    h2:focus a,
    h2:hover a,
    h3:focus a,
    h3:hover a,
    h4:focus a,
    h4:hover a,
    h5:focus a,
    h5:hover a,
    h6:focus a,
    h6:hover a
  ) {
  text-decoration-color: currentColor;
}

p {
  margin: 1em 0;
}

.has-text-align-center {
  text-align: center;
}

.has-text-align-left {
  text-align: left;
}

.has-text-align-right {
  text-align: left;
}
