/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/front/beyond-fse.scss ***!
  \*************************************************************************************************************************/
@charset "UTF-8";
/**
 * Beyond FSE
 *
 * Main styles.
 *
 * Theme styles follow http://cssguidelin.es/ and are organized according to
 * Inverted Triangle CSS (ITCSS) principles put forth by Harry Roberts. In
 * short, each layer of CSS gets more specific as you move down this page.
 *
 */
/*--------------------------------------------------------------
# Settings - Global variables, config switches.
--------------------------------------------------------------*/
/*--------------------------------------------------------------
   Global CSS variables
--------------------------------------------------------------*/
:root {
  --beyond-fse-header-height: 80px; }

/*--------------------------------------------------------------
# Tools - Default mixins and functions.
--------------------------------------------------------------*/
@use "sass:string";
/* Functions */
/* Mixins */
/**
 * Mixin for applying fundamental base styles to input elements.
 */
/**
 * Mixin for applying fundamental base styles to button elements.
 */
/*--------------------------------------------------------------
# Generic - Ground-zero styles (resets, box-sizing, etc.).
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Generic - Ground-zero styles (resets, box-sizing, etc.).
--------------------------------------------------------------*/
* {
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

/*--------------------------------------------------------------
# Elements - Unclassed HTML elements (type selectors).
--------------------------------------------------------------*/
a {
  color: var(--wp--preset--color--link-vapor);
  font-weight: inherit; }
  a:visited {
    color: var(--wp--preset--color--link-vapor);
    font-weight: inherit; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }
  a:hover, a:focus, a:active {
    color: var(--wp--preset--color--link-vapor); }

ul,
ol {
  margin: 0 0 var(--wp--preset--spacing--xxs) var(--wp--preset--spacing--xxxs);
  padding-left: var(--wp--preset--spacing--s); }

ul,
ol {
  margin: 0 0 var(--wp--preset--spacing--xxs);
  padding: 0 0 0 var(--wp--preset--spacing--m);
  line-height: 1.4em; }
  ul > li,
  ol > li {
    margin-bottom: var(--wp--preset--spacing--xxs);
    list-style-position: outside; }
    ul > li:last-of-type,
    ol > li:last-of-type {
      margin-bottom: 0; }

ul {
  list-style: disc; }
  ul li::marker {
    color: var(--wp--preset--color--warm-insight); }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5rem; }

dt {
  font-weight: 700; }

dd {
  margin: 0 1.5rem var(--wp--preset--spacing--xxs); }

.beyond-fse-header ul,
.beyond-fse-footer ul {
  list-style: none;
  margin: 0; }
  .beyond-fse-header ul li,
  .beyond-fse-footer ul li {
    margin: 0; }

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1em 0 0.5em; }

:is(h1 a, h2 a, h3 a, h4 a, h5 a, h6 a) {
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color var(--wp--custom--transition-timing--default); }

:is(
h1:focus a,
h1:hover a,
h2:focus a,
h2:hover a,
h3:focus a,
h3:hover a,
h4:focus a,
h4:hover a,
h5:focus a,
h5:hover a,
h6:focus a,
h6:hover a
) {
  text-decoration-color: currentColor; }

p {
  margin: 1em 0; }

.has-text-align-center {
  text-align: center; }

.has-text-align-left {
  text-align: left; }

.has-text-align-right {
  text-align: left; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  font-size: inherit;
  color: var(--wp--preset--color--deep-beyond);
  border: var(--wp--custom--border--radius--small) solid var(--wp--preset--color--link-vapor);
  border-radius: var(--wp--custom--border--radius--small);
  box-shadow: none;
  outline: none;
  padding: 14px 20px;
  min-height: 60px;
  transition: border-color 0.2s ease-in-out; }
  input[type="text"]:focus, input[type="text"]:focus:invalid,
  input[type="email"]:focus,
  input[type="email"]:focus:invalid,
  input[type="url"]:focus,
  input[type="url"]:focus:invalid,
  input[type="password"]:focus,
  input[type="password"]:focus:invalid,
  input[type="search"]:focus,
  input[type="search"]:focus:invalid,
  input[type="number"]:focus,
  input[type="number"]:focus:invalid,
  input[type="tel"]:focus,
  input[type="tel"]:focus:invalid,
  input[type="range"]:focus,
  input[type="range"]:focus:invalid,
  input[type="date"]:focus,
  input[type="date"]:focus:invalid,
  input[type="month"]:focus,
  input[type="month"]:focus:invalid,
  input[type="week"]:focus,
  input[type="week"]:focus:invalid,
  input[type="time"]:focus,
  input[type="time"]:focus:invalid,
  input[type="datetime"]:focus,
  input[type="datetime"]:focus:invalid,
  input[type="datetime-local"]:focus,
  input[type="datetime-local"]:focus:invalid,
  input[type="color"]:focus,
  input[type="color"]:focus:invalid,
  textarea:focus,
  textarea:focus:invalid {
    color: var(--wp--preset--color--deep-beyond);
    line-height: var(--wp--custom--line-height--normal);
    border-style: solid;
    border-width: var(--wp--custom--border--radius--small);
    border-color: var(--wp--preset--color--link-vapor);
    box-shadow: none;
    outline: none; }
  input[type="text"]:focus-visible,
  input[type="email"]:focus-visible,
  input[type="url"]:focus-visible,
  input[type="password"]:focus-visible,
  input[type="search"]:focus-visible,
  input[type="number"]:focus-visible,
  input[type="tel"]:focus-visible,
  input[type="range"]:focus-visible,
  input[type="date"]:focus-visible,
  input[type="month"]:focus-visible,
  input[type="week"]:focus-visible,
  input[type="time"]:focus-visible,
  input[type="datetime"]:focus-visible,
  input[type="datetime-local"]:focus-visible,
  input[type="color"]:focus-visible,
  textarea:focus-visible {
    outline: none; }
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="url"]::placeholder,
  input[type="password"]::placeholder,
  input[type="search"]::placeholder,
  input[type="number"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="range"]::placeholder,
  input[type="date"]::placeholder,
  input[type="month"]::placeholder,
  input[type="week"]::placeholder,
  input[type="time"]::placeholder,
  input[type="datetime"]::placeholder,
  input[type="datetime-local"]::placeholder,
  input[type="color"]::placeholder,
  textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--wp--preset--color--link-vapor);
    opacity: 1;
    /* Firefox */ }
  input[type="text"]::-ms-input-placeholder,
  input[type="email"]::-ms-input-placeholder,
  input[type="url"]::-ms-input-placeholder,
  input[type="password"]::-ms-input-placeholder,
  input[type="search"]::-ms-input-placeholder,
  input[type="number"]::-ms-input-placeholder,
  input[type="tel"]::-ms-input-placeholder,
  input[type="range"]::-ms-input-placeholder,
  input[type="date"]::-ms-input-placeholder,
  input[type="month"]::-ms-input-placeholder,
  input[type="week"]::-ms-input-placeholder,
  input[type="time"]::-ms-input-placeholder,
  input[type="datetime"]::-ms-input-placeholder,
  input[type="datetime-local"]::-ms-input-placeholder,
  input[type="color"]::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--wp--preset--color--link-vapor); }

select {
  font-family: var(--wp--preset--font-family--inter);
  font-size: var(--wp--preset--font-size--normal);
  font-weight: 700;
  letter-spacing: -0.015em;
  color: var(--wp--preset--color--link-vapor);
  border: var(--wp--custom--border--radius--small) solid var(--wp--preset--color--link-vapor);
  border-radius: var(--wp--custom--border--radius--small);
  line-height: 1.4em;
  padding: 11px var(--wp--preset--spacing--s) 11px 12px;
  appearance: none;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxOSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xLjUgMS41TDkuNSA5LjVMMTcuNSAxLjUiIHN0cm9rZT0iIzQ1NEJGNyIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjwvc3ZnPg0K);
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
  cursor: pointer; }
  select:focus-visible {
    outline: none; }
  select:disabled {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxOSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xLjUgMS41TDkuNSA5LjVMMTcuNSAxLjUiIHN0cm9rZT0iI0I2QzNGMiIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4NCjwvc3ZnPg0K);
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 16px;
    color: var(--wp--preset--color--link-vapor);
    border-color: inherit;
    box-shadow: none;
    text-shadow: none;
    opacity: 1;
    cursor: not-allowed; }
  select option {
    background-color: var(--wp--preset--color--warm-insight); }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Objects - Undecorated design patterns.
--------------------------------------------------------------*/
.beyond-fse-footer {
  margin-block-start: 0; }
  .beyond-fse-footer nav.wp-block-navigation a {
    font-size: var(--wp--preset--font-size--small);
    font-weight: 400;
    line-height: var(--wp--custom--line-height--tight); }

.beyond-fse-header {
  position: relative;
  z-index: 500; }
  .beyond-fse-header.is-position-sticky {
    position: sticky;
    top: var(--wp-admin--admin-bar--position-offset);
    background-color: #ffffffe5;
    backdrop-filter: blur(10px); }
  .beyond-fse-header .wp-block-navigation {
    order: 100; }
    @media (min-width: 1025px) {
      .beyond-fse-header .wp-block-navigation {
        order: initial; } }
    .beyond-fse-header .wp-block-navigation .wp-block-navigation__submenu-icon {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 12px;
      height: 12px;
      margin-left: 5px;
      color: var(--wp--preset--color--deep-beyond);
      transition: color var(--wp--custom--transition-timing--default); }
      .beyond-fse-header .wp-block-navigation .wp-block-navigation__submenu-icon svg {
        display: none; }
      .beyond-fse-header .wp-block-navigation .wp-block-navigation__submenu-icon:after {
        background-color: currentColor;
        content: "";
        display: inline-flex;
        -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI4IiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Im05Ljc2OCAwIDEuMzIgMS41NzItNS41NDQgNS40ODRMMCAxLjU3MiAxLjMwOCAwbDQuMjM2IDQuMTg4eiIvPjwvc3ZnPg==);
        mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI4IiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Im05Ljc2OCAwIDEuMzIgMS41NzItNS41NDQgNS40ODRMMCAxLjU3MiAxLjMwOCAwbDQuMjM2IDQuMTg4eiIvPjwvc3ZnPg==);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center;
        mask-position: center;
        width: 11px;
        height: 7px;
        margin-left: 0.3rem;
        transition: transform var(--wp--custom--transition-timing--default);
        transform-origin: center;
        flex-shrink: 0; }
    .beyond-fse-header .wp-block-navigation .wp-block-navigation-item {
      background-color: transparent;
      text-decoration: underline;
      text-decoration-color: transparent;
      text-decoration-thickness: 3px;
      text-underline-offset: 3px;
      transition: color var(--wp--custom--transition-timing--default), text-decoration-color var(--wp--custom--transition-timing--default); }
      .beyond-fse-header .wp-block-navigation .wp-block-navigation-item a {
        color: currentColor; }
      .beyond-fse-header .wp-block-navigation .wp-block-navigation-item .wp-block-navigation__submenu-icon {
        color: currentColor; }
    .beyond-fse-header .wp-block-navigation > .wp-block-navigation-item:hover {
      text-decoration-color: var(--wp--preset--color--link-vapor); }
      .beyond-fse-header .wp-block-navigation > .wp-block-navigation-item:hover .wp-block-navigation__submenu-icon:after {
        transform: rotate(180deg); }
    .beyond-fse-header .wp-block-navigation > .wp-block-navigation-item.current-menu-item, .beyond-fse-header .wp-block-navigation > .wp-block-navigation-item.current-menu-ancestor {
      text-decoration-color: var(--wp--preset--color--warm-insight); }
      .beyond-fse-header .wp-block-navigation > .wp-block-navigation-item.current-menu-item:hover, .beyond-fse-header .wp-block-navigation > .wp-block-navigation-item.current-menu-ancestor:hover {
        text-decoration-color: var(--wp--preset--color--link-vapor); }
    .beyond-fse-header .wp-block-navigation .wp-block-navigation__submenu-container {
      border-radius: var(--wp--custom--border--radius--medium);
      box-shadow: var(--wp--preset--shadow--double-soft);
      padding: 2rem 1.5rem; }
      .beyond-fse-header .wp-block-navigation .wp-block-navigation__submenu-container > .wp-block-navigation-item {
        font-family: var(--wp--preset--font-family--stack-secondary);
        font-size: var(--wp--preset--font-size--normal);
        text-transform: initial; }
        .beyond-fse-header .wp-block-navigation .wp-block-navigation__submenu-container > .wp-block-navigation-item > .wp-block-navigation-item__content {
          line-height: 1;
          padding: 1rem 1.125rem;
          border-radius: var(--wp--custom--border--radius--medium);
          background-color: transparent;
          transition: background-color var(--wp--custom--transition-timing--default); }
        .beyond-fse-header .wp-block-navigation .wp-block-navigation__submenu-container > .wp-block-navigation-item:hover:not(.bfse-menu-item-label) > .wp-block-navigation-item__content {
          background-color: #d9e4fd80; }
        .beyond-fse-header .wp-block-navigation .wp-block-navigation__submenu-container > .wp-block-navigation-item.current-menu-item > .wp-block-navigation-item__content {
          color: var(--wp--preset--color--deep-beyond);
          text-decoration: underline;
          text-decoration-color: var(--wp--preset--color--warm-insight);
          text-decoration-thickness: 0.125rem;
          text-underline-offset: 1.5px;
          text-decoration-skip-ink: auto;
          transition: color var(--wp--custom--transition-timing--default); }
        .beyond-fse-header .wp-block-navigation .wp-block-navigation__submenu-container > .wp-block-navigation-item.current-menu-item:hover > .wp-block-navigation-item__content {
          color: var(--wp--preset--color--link-vapor); }
      .beyond-fse-header .wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-item.bfse-menu-item-label .wp-block-navigation-item__content {
        line-height: 1.25rem;
        padding: 0; }
    .beyond-fse-header .wp-block-navigation:not(.has-background) .wp-block-navigation__submenu-container {
      background: rgba(255, 255, 255, 0.95);
      border: none; }
    .beyond-fse-header .wp-block-navigation .has-child
.wp-block-navigation-submenu__toggle[aria-expanded="true"]
~ .wp-block-navigation__submenu-container,
    .beyond-fse-header .wp-block-navigation .has-child:not(.open-on-click):hover
> .wp-block-navigation__submenu-container,
    .beyond-fse-header .wp-block-navigation .wp-block-navigation
.has-child:not(.open-on-click):not(.open-on-hover-click):focus-within
> .wp-block-navigation__submenu-container {
      min-width: 240px;
      max-width: 360px;
      width: max-content;
      display: block !important;
      height: auto !important; }
      @media (max-width: 1024px) {
        .beyond-fse-header .wp-block-navigation .has-child
.wp-block-navigation-submenu__toggle[aria-expanded="true"]
~ .wp-block-navigation__submenu-container,
        .beyond-fse-header .wp-block-navigation .has-child:not(.open-on-click):hover
> .wp-block-navigation__submenu-container,
        .beyond-fse-header .wp-block-navigation .wp-block-navigation
.has-child:not(.open-on-click):not(.open-on-hover-click):focus-within
> .wp-block-navigation__submenu-container {
          display: block !important; } }
  html.has-modal-open .beyond-fse-header {
    position: absolute;
    top: 0;
    width: 100%; }
    html.has-modal-open .beyond-fse-header .wp-block-site-logo,
    html.has-modal-open .beyond-fse-header .wp-block-bfse-block-fs-search {
      position: relative;
      z-index: 100005; }
  .beyond-fse-header .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
    background-color: var(--wp--preset--color--deep-beyond);
    height: 100vh; }
  .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content {
    padding-top: 80px; }
    .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item__content {
      line-height: 2.2; }
    .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
      width: 100%;
      max-width: 100%;
      padding: 1rem 0 0.5rem 1.5rem;
      display: none; }
    .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child > .wp-block-navigation-item__content > .wp-block-navigation-item__label:after {
      background-color: currentColor;
      content: "";
      display: inline-flex;
      -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI4IiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Im05Ljc2OCAwIDEuMzIgMS41NzItNS41NDQgNS40ODRMMCAxLjU3MiAxLjMwOCAwbDQuMjM2IDQuMTg4eiIvPjwvc3ZnPg==);
      mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSI4IiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Im05Ljc2OCAwIDEuMzIgMS41NzItNS41NDQgNS40ODRMMCAxLjU3MiAxLjMwOCAwbDQuMjM2IDQuMTg4eiIvPjwvc3ZnPg==);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center;
      mask-position: center;
      width: 11px;
      height: 7px;
      margin-left: 0.3rem;
      transition: transform var(--wp--custom--transition-timing--default);
      transform-origin: center;
      flex-shrink: 0; }
  .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content
.wp-block-navigation__container {
    gap: 0; }
    .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content
.wp-block-navigation__container .wp-block-navigation-item .wp-block-navigation-item__content {
      width: 100%;
      border-radius: 0;
      background-color: transparent;
      padding: 0;
      gap: var(--wp--preset--spacing--xxxs); }
      .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content
.wp-block-navigation__container .wp-block-navigation-item .wp-block-navigation-item__content .bfse-menu-item-image-holder {
        width: 30px;
        height: 30px; }
        .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content
.wp-block-navigation__container .wp-block-navigation-item .wp-block-navigation-item__content .bfse-menu-item-image-holder .bfse-menu-item-image {
          max-width: 28px;
          max-height: 28px; }
    .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content
.wp-block-navigation__container .wp-block-navigation-item:not(:last-child) .wp-block-navigation-item__content {
      border-bottom: 2px solid var(--wp--preset--color--link-vapor); }
  .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content
.wp-block-navigation-item,
  .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content
.wp-block-navigation__container,
  .beyond-fse-header .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-page-list {
    color: var(--wp--preset--color--warm-insight) !important;
    width: 100%;
    align-items: flex-start;
    text-decoration-color: transparent; }

.has-modal-open .wp-block-navigation__responsive-close {
  max-width: 100%;
  margin: 0;
  padding: 0 1.45em; }

.has-modal-open
.admin-bar
.beyond-fse-header
.is-menu-open
.wp-block-navigation__responsive-dialog {
  margin-top: 0 !important; }

/*--------------------------------------------------------------
# Blocks - editor related styles.
--------------------------------------------------------------*/
.wp-block-group.is-style-h-100 {
  height: 100%; }

.wp-block-group.is-style-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #a0a7b9;
  border-radius: var(--wp--custom--border--radius--medium);
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  padding-top: var(--wp--preset--spacing--xxxs);
  padding-bottom: var(--wp--preset--spacing--xxxs); }
  .wp-block-group.is-style-card:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: var(--wp--preset--spacing--xxxs);
    content: "";
    background: #fff; }
  .wp-block-group.is-style-card > * {
    position: relative;
    z-index: 10; }

.wp-block-group.is-style-h-100-vertical-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.wp-block-group.is-style-group-border-radius {
  border-radius: var(--wp--custom--border--radius--medium); }

.wp-block-group.is-style-mp-drop-shadow {
  box-shadow: 0px 4px 9px 0px #1a306212, 0px 16px 16px 0px #1a306212; }

.wp-block-group.is-style-mp-gradient-background {
  position: relative;
  z-index: 10; }
  .wp-block-group.is-style-mp-gradient-background.has-background {
    background: none !important; }
  .wp-block-group.is-style-mp-gradient-background:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.25;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 137, 119, 0.4) 100%); }

.wp-block-group.is-style-diagonal-break {
  --diagonal-height: 30px;
  position: relative;
  margin-bottom: var(--diagonal-height);
  z-index: 10; }
  @media (min-width: 481px) {
    .wp-block-group.is-style-diagonal-break {
      --diagonal-height: 64px; } }
  @media (min-width: 782px) {
    .wp-block-group.is-style-diagonal-break {
      --diagonal-height: 80px; } }
  .wp-block-group.is-style-diagonal-break:not(.has-background) {
    background-color: var(--wp--preset--color--deep-beyond); }
  .wp-block-group.is-style-diagonal-break:after {
    position: absolute;
    left: 0;
    display: block;
    content: "";
    background-color: inherit;
    width: 100vw;
    height: var(--diagonal-height);
    z-index: 1; }
  .wp-block-group.is-style-diagonal-break:after {
    bottom: calc(var(--diagonal-height) * -1);
    clip-path: polygon(100% 100%, 0 0, 100% 0); }
  .wp-block-group.is-style-diagonal-break > .aligncenter:not(.alignwide):not(.alignfull):not(.alignleft):not(
  .alignright
) {
    padding-left: 1.45em;
    padding-right: 1.45em;
    margin-left: auto !important;
    margin-right: auto !important; }

.wp-block-group.is-style-double-diagonal-break {
  --diagonal-height: 30px;
  position: relative;
  margin-bottom: var(--diagonal-height);
  z-index: 10; }
  @media (min-width: 481px) {
    .wp-block-group.is-style-double-diagonal-break {
      --diagonal-height: 64px; } }
  @media (min-width: 782px) {
    .wp-block-group.is-style-double-diagonal-break {
      --diagonal-height: 80px; } }
  .wp-block-group.is-style-double-diagonal-break:not(.has-background) {
    background-color: #d9e4fd40; }
  .wp-block-group.is-style-double-diagonal-break:before, .wp-block-group.is-style-double-diagonal-break:after {
    position: absolute;
    left: 0;
    display: block;
    content: "";
    background-color: inherit;
    width: 100vw;
    height: var(--diagonal-height);
    z-index: 1; }
  .wp-block-group.is-style-double-diagonal-break:before {
    top: calc(var(--diagonal-height) * -1);
    clip-path: polygon(0 0, 0 100%, 100% 100%); }
  .wp-block-group.is-style-double-diagonal-break:after {
    bottom: calc(var(--diagonal-height) * -1);
    clip-path: polygon(100% 100%, 0 0, 100% 0); }

.wp-block-group.is-style-transparent-diagonal-break {
  --diagonal-height: 100px;
  position: relative;
  margin-bottom: var(--diagonal-height);
  z-index: 10; }
  @media (min-width: 481px) {
    .wp-block-group.is-style-transparent-diagonal-break {
      --diagonal-height: 200px; } }
  @media (min-width: 782px) {
    .wp-block-group.is-style-transparent-diagonal-break {
      --diagonal-height: 200px; } }
  .wp-block-group.is-style-transparent-diagonal-break .has-background {
    background-color: transparent !important; }
  .wp-block-group.is-style-transparent-diagonal-break:after {
    position: absolute;
    left: 0;
    display: block;
    content: "";
    background-color: var(--wp--preset--color--deep-beyond);
    width: 100vw;
    height: var(--diagonal-height);
    z-index: -1; }
  .wp-block-group.is-style-transparent-diagonal-break:after {
    bottom: 0;
    clip-path: polygon(125% 50%, -100% -30%, 0% 500%); }
  .wp-block-group.is-style-transparent-diagonal-break > .aligncenter:not(.alignwide):not(.alignfull):not(.alignleft):not(
  .alignright
) {
    padding-left: 1.45em;
    padding-right: 1.45em;
    margin-left: auto !important;
    margin-right: auto !important; }

.wp-block-button .wp-block-button__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: color var(--wp--custom--transition-timing--default), background var(--wp--custom--transition-timing--default);
  height: auto;
  letter-spacing: -0.01em; }
  .wp-block-button .wp-block-button__link.has-text-align-left {
    justify-content: flex-start; }
  .wp-block-button .wp-block-button__link.has-text-align-center {
    justify-content: center; }
  .wp-block-button .wp-block-button__link.has-text-align-right {
    justify-content: flex-end; }
  .wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus {
    color: var(--wp--preset--color--white);
    background: var(--wp--preset--color--link-vapor); }

.wp-block-button.wp-block-button__width-100 .wp-block-button__link {
  width: 100%; }

.wp-block-button.wp-block-button__width-75 .wp-block-button__link {
  width: 75%; }

.wp-block-button.wp-block-button__width-50 .wp-block-button__link {
  width: 50%; }

.wp-block-button.wp-block-button__width-25 .wp-block-button__link {
  width: 25%; }

.wp-block-button.is-style-fill .wp-block-button__link {
  color: var(--wp--preset--color--link-vapor);
  background: var(--wp--preset--color--warm-insight); }
  .wp-block-button.is-style-fill .wp-block-button__link:hover, .wp-block-button.is-style-fill .wp-block-button__link:focus {
    color: var(--wp--preset--color--warm-insight);
    background: var(--wp--preset--color--link-vapor); }

input[type="submit"].wp-block-button__link {
  background-color: var(--wp--preset--color--warm-insight);
  color: var(--wp--preset--color--link-vapor);
  transition: color var(--wp--custom--transition-timing--default), background-color var(--wp--custom--transition-timing--default); }
  input[type="submit"].wp-block-button__link:hover, input[type="submit"].wp-block-button__link:focus {
    color: var(--wp--preset--color--warm-insight);
    background-color: var(--wp--preset--color--link-vapor); }

.wp-block-image.is-style-aspect-16x9, .wp-block-image.is-style-aspect-square, .wp-block-image.is-style-aspect-circle {
  overflow: hidden;
  position: relative;
  width: 100%; }
  .wp-block-image.is-style-aspect-16x9 .components-resizable-box__container, .wp-block-image.is-style-aspect-square .components-resizable-box__container, .wp-block-image.is-style-aspect-circle .components-resizable-box__container {
    max-height: 100% !important;
    height: 100% !important; }
  .wp-block-image.is-style-aspect-16x9 a, .wp-block-image.is-style-aspect-square a, .wp-block-image.is-style-aspect-circle a {
    display: block;
    height: 100%; }
  .wp-block-image.is-style-aspect-16x9 img, .wp-block-image.is-style-aspect-square img, .wp-block-image.is-style-aspect-circle img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%; }

.wp-block-image.is-style-aspect-16x9 {
  aspect-ratio: 16 / 9; }

.wp-block-image.is-style-aspect-square {
  aspect-ratio: 1 / 1; }

.wp-block-image.is-style-aspect-circle {
  aspect-ratio: 1 / 1; }
  .wp-block-image.is-style-aspect-circle img {
    border-radius: 100%; }

.wp-block-image.is-style-border-radius img {
  border-radius: var(--wp--custom--border--radius--medium); }

/* Neutralize the WordPress default at 600px */
/* This forces the menu to STAY in mobile (hamburger) mode until 1025px */
@media (min-width: 600px) {
  /* Keep hiding the expanded menu */
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(
  .is-menu-open
) {
    display: none !important; }
  /* Keep showing the button to open the menu */
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex !important; } }

/* Apply the DESKTOP layout at the custom 1025px breakpoint */
@media (min-width: 1025px) {
  /* Show the expanded menu */
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(
  .is-menu-open
) {
    display: block !important; }
  /* Hide the button to open the menu */
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none !important; } }

.wp-block-navigation__responsive-container-open svg,
.wp-block-navigation__responsive-container-close svg {
  display: none; }

.wp-block-navigation__responsive-container-open {
  position: relative;
  color: var(--wp--preset--color--deep-beyond);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--wp--custom--transition-timing--default); }
  .wp-block-navigation__responsive-container-open:after {
    background-color: currentColor;
    content: "";
    display: inline-flex;
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDMyIDIxIiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0yNi4zMyAxN2ExLjUgMS41IDAgMCAxIDAgM2gtMjFhMS41IDEuNSAwIDAgMSAwLTNoMjFabTAtOGExLjUgMS41IDAgMCAxIDAgM2gtMjFhMS41IDEuNSAwIDAgMSAwLTNoMjFabTAtOGExLjUgMS41IDAgMCAxIDAgM2gtMjFhMS41IDEuNSAwIDEgMSAwLTNoMjFaIi8+PC9zdmc+);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIyMSIgdmlld0JveD0iMCAwIDMyIDIxIiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0yNi4zMyAxN2ExLjUgMS41IDAgMCAxIDAgM2gtMjFhMS41IDEuNSAwIDAgMSAwLTNoMjFabTAtOGExLjUgMS41IDAgMCAxIDAgM2gtMjFhMS41IDEuNSAwIDAgMSAwLTNoMjFabTAtOGExLjUgMS41IDAgMCAxIDAgM2gtMjFhMS41IDEuNSAwIDEgMSAwLTNoMjFaIi8+PC9zdmc+);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    width: 32px;
    height: 21px;
    margin-left: 0.3rem;
    transition: transform var(--wp--custom--transition-timing--default);
    transform-origin: center;
    flex-shrink: 0; }
  html:not(.has-modal-open) .wp-block-navigation__responsive-container-open {
    opacity: 1;
    visibility: visible; }

.wp-block-navigation__responsive-container-close {
  top: 32px;
  right: 5px;
  width: 32px;
  height: 32px;
  color: var(--wp--preset--color--warm-insight);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--wp--custom--transition-timing--default); }
  .wp-block-navigation__responsive-container-close:after {
    background-color: currentColor;
    content: "";
    display: inline-flex;
    -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0yNC40NzYgNy45MjVhMS40OTcgMS40OTcgMCAwIDEgMCAyLjExN2wtNi4zNTMgNi4zNTMgNi4zNTMgNi4zNTNhMS40OTggMS40OTggMCAwIDEtMi4xMTggMi4xMThsLTYuMzUzLTYuMzUzLTYuMzUzIDYuMzUzYTEuNDk3IDEuNDk3IDAgMCAxLTIuMTE4LTIuMTE4bDYuMzUzLTYuMzUzLTYuMzUzLTYuMzUzYTEuNDk3IDEuNDk3IDAgMCAxIDIuMTE4LTIuMTE4bDYuMzUzIDYuMzUzIDYuMzUzLTYuMzUzYTEuNDk4IDEuNDk4IDAgMCAxIDIuMTE4IDBaIi8+PC9zdmc+);
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIiBmaWxsPSJub25lIj48cGF0aCBmaWxsPSJjdXJyZW50Q29sb3IiIGQ9Ik0yNC40NzYgNy45MjVhMS40OTcgMS40OTcgMCAwIDEgMCAyLjExN2wtNi4zNTMgNi4zNTMgNi4zNTMgNi4zNTNhMS40OTggMS40OTggMCAwIDEtMi4xMTggMi4xMThsLTYuMzUzLTYuMzUzLTYuMzUzIDYuMzUzYTEuNDk3IDEuNDk3IDAgMCAxLTIuMTE4LTIuMTE4bDYuMzUzLTYuMzUzLTYuMzUzLTYuMzUzYTEuNDk3IDEuNDk3IDAgMCAxIDIuMTE4LTIuMTE4bDYuMzUzIDYuMzUzIDYuMzUzLTYuMzUzYTEuNDk4IDEuNDk4IDAgMCAxIDIuMTE4IDBaIi8+PC9zdmc+);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    width: 32px;
    height: 32px;
    margin-left: 0.3rem;
    transition: transform var(--wp--custom--transition-timing--default);
    transform-origin: center;
    flex-shrink: 0; }
  html.has-modal-open .wp-block-navigation__responsive-container-close {
    opacity: 1;
    visibility: visible; }

.wp-block-navigation .wp-block-navigation-item .wp-block-navigation-item__content {
  align-items: center; }
  .wp-block-navigation .wp-block-navigation-item .wp-block-navigation-item__content:focus {
    outline: none; }
  .wp-block-navigation .wp-block-navigation-item .wp-block-navigation-item__content .bfse-menu-item-image-holder {
    display: inline-flex;
    align-items: center;
    width: 42px;
    height: 42px; }
    .wp-block-navigation .wp-block-navigation-item .wp-block-navigation-item__content .bfse-menu-item-image-holder .bfse-menu-item-image {
      max-width: 35px; }

.is-style-rounded-font {
  font-family: var(--wp--preset--font-family--inter);
  font-weight: 700; }

.wp-block-quote:not(.is-style-blockquote) {
  border-left: var(--wp--preset--spacing--xxxs) solid var(--wp--preset--color--link-vapor); }
  .wp-block-quote:not(.is-style-blockquote) > * {
    padding-left: var(--wp--preset--spacing--s); }

.wp-block-quote.is-style-blockquote {
  text-align: center; }
  .wp-block-quote.is-style-blockquote p {
    font-family: var(--wp--preset--font-family--inter);
    font-weight: 700; }
    .wp-block-quote.is-style-blockquote p:before {
      content: "“ "; }
    .wp-block-quote.is-style-blockquote p:after {
      content: " ”"; }

/*--------------------------------------------------------------
# Components - specific UI components.
--------------------------------------------------------------*/
.wp-block-accordion {
  background: var(--wp--preset--color--white);
  border-radius: var(--wp--custom--border--radius--medium); }

.wp-block-accordion-item {
  border-radius: var(--wp--custom--border--radius--small);
  background-color: var(--wp--preset--color--warm-insight);
  margin: var(--wp--preset--spacing--xxxs) 0; }
  .wp-block-accordion-item > .wp-block-accordion-heading .wp-block-accordion-heading__toggle-icon {
    transition: none;
    position: relative;
    font-size: 0;
    width: 29px;
    height: 29px;
    display: flex; }
  .wp-block-accordion-item .wp-block-accordion-heading__toggle-title {
    padding-right: var(--wp--preset--spacing--xxxs); }
    .wp-block-accordion-item .wp-block-accordion-heading__toggle-title strong {
      background: none; }
  .wp-block-accordion-item.is-open > .wp-block-accordion-heading .wp-block-accordion-heading__toggle-icon {
    transform: rotate(90deg); }
  .wp-block-accordion-item .wp-block-accordion-heading__toggle {
    padding: 0; }
    .wp-block-accordion-item .wp-block-accordion-heading__toggle:hover .wp-block-accordion-heading__toggle-title {
      text-decoration: none; }
    .wp-block-accordion-item .wp-block-accordion-heading__toggle .wp-block-accordion-heading__toggle-icon:after {
      background-color: currentColor;
      content: "";
      display: inline-flex;
      -webkit-mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMjkiIHZpZXdCb3g9IjAgMCAxNiAyOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xNC43ODAzIDE0LjQwMTRMMi4zMzMwMSAwLjcwNjA1NUwwLjcwNzAzMSAyLjE3ODcxTDExLjUwNTkgMTQuMDYzNUwxMS44MTE1IDE0LjQwMDRMMTEuNTA1OSAxNC43MzYzTDAuNzA0MTAyIDI2LjYyNUwyLjMzNDk2IDI4LjEyNEwxNC43ODAzIDE0LjQwMTRaIiBmaWxsPSIjNDU0QkY3IiBzdHJva2U9IiM0NTRCRjciLz4NCjwvc3ZnPg0K);
      mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMjkiIHZpZXdCb3g9IjAgMCAxNiAyOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0xNC43ODAzIDE0LjQwMTRMMi4zMzMwMSAwLjcwNjA1NUwwLjcwNzAzMSAyLjE3ODcxTDExLjUwNTkgMTQuMDYzNUwxMS44MTE1IDE0LjQwMDRMMTEuNTA1OSAxNC43MzYzTDAuNzA0MTAyIDI2LjYyNUwyLjMzNDk2IDI4LjEyNEwxNC43ODAzIDE0LjQwMTRaIiBmaWxsPSIjNDU0QkY3IiBzdHJva2U9IiM0NTRCRjciLz4NCjwvc3ZnPg0K);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center;
      mask-position: center;
      width: 29px;
      height: 29px;
      margin-left: 0;
      transition: transform var(--wp--custom--transition-timing--default);
      transform-origin: center;
      flex-shrink: 0; }
    .wp-block-accordion-item .wp-block-accordion-heading__toggle .wp-block-accordion-heading__toggle-icon + .wp-block-accordion-heading__toggle-title {
      padding-left: var(--wp--preset--spacing--xxxs);
      padding-right: 0; }
  .wp-block-accordion-item:first-child {
    margin-top: 0; }
  .wp-block-accordion-item:last-child {
    margin-bottom: 0; }

@media (prefers-reduced-motion: no-preference) {
  .wp-block-accordion-item
> .wp-block-accordion-heading
.wp-block-accordion-heading__toggle-icon {
    transition: transform var(--wp--custom--transition-timing--default); } }

.wp-block-code {
  white-space: pre !important;
  overflow-x: scroll;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: var(--wp--custom--border--radius--large);
  padding: 1em 0 1em 1em;
  background: #f5f5f5;
  font-family: monospace, sans-serif; }
  .wp-block-code code {
    padding: 1em 0 1em 1em;
    white-space: pre; }

.wp-block-post-author__content {
  display: flex;
  flex-direction: row;
  gap: 5px; }

.wp-block-post-template.is-layout-grid {
  gap: 18px;
  margin: 0; }
  .wp-block-post-template.is-layout-grid.columns-2 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-3 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-3 {
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-4 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-4 {
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-4 {
        grid-template-columns: repeat(4, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-5 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-5 {
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-5 {
        grid-template-columns: repeat(5, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-6 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-6 {
        grid-template-columns: repeat(3, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-7 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-7 {
        grid-template-columns: repeat(3, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-7 {
        grid-template-columns: repeat(7, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-8 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-8 {
        grid-template-columns: repeat(4, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-8 {
        grid-template-columns: repeat(8, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-9 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-9 {
        grid-template-columns: repeat(4, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-9 {
        grid-template-columns: repeat(9, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-10 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-10 {
        grid-template-columns: repeat(5, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-10 {
        grid-template-columns: repeat(10, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-11 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-11 {
        grid-template-columns: repeat(5, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-11 {
        grid-template-columns: repeat(11, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-12 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-12 {
        grid-template-columns: repeat(6, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-13 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-13 {
        grid-template-columns: repeat(6, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-13 {
        grid-template-columns: repeat(13, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-14 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-14 {
        grid-template-columns: repeat(7, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-14 {
        grid-template-columns: repeat(14, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-15 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-15 {
        grid-template-columns: repeat(7, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-15 {
        grid-template-columns: repeat(15, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid.columns-16 {
    grid-template-columns: repeat(1, minmax(0, 1fr)); }
    @media (min-width: 782px) {
      .wp-block-post-template.is-layout-grid.columns-16 {
        grid-template-columns: repeat(8, minmax(0, 1fr)); } }
    @media (min-width: 960px) {
      .wp-block-post-template.is-layout-grid.columns-16 {
        grid-template-columns: repeat(16, minmax(0, 1fr)); } }
  .wp-block-post-template.is-layout-grid .wp-block-post {
    margin: 0;
    border-radius: var(--wp--custom--border--radius--medium);
    box-shadow: var(--wp--preset--shadow--double-soft);
    height: 100%;
    overflow: hidden; }
    .wp-block-post-template.is-layout-grid .wp-block-post:where(img) {
      aspect-ratio: 16 / 9;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      width: 100%; }
    .wp-block-post-template.is-layout-grid .wp-block-post .bfse-post-article-content {
      height: 100%;
      padding: var(--wp--preset--spacing--xxs);
      background-color: var(--wp--preset--color--white); }

.wp-block-post-terms {
  display: inline-flex;
  gap: 6px;
  flex-wrap: wrap; }
  .wp-block-post-terms li {
    display: inline-flex;
    margin: 0; }
  .wp-block-post-terms.taxonomy-category a,
  .wp-block-post-terms.taxonomy-category span, .wp-block-post-terms.taxonomy-kb_category a,
  .wp-block-post-terms.taxonomy-kb_category span {
    display: inline-flex;
    align-items: center;
    background-color: var(--wp--preset--color--warm-insight);
    color: var(--wp--preset--color--deep-beyond);
    border-radius: var(--wp--custom--border--radius--small);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1px 12.5px;
    font-family: var(--wp--preset--font-family--inter);
    font-size: var(--wp--preset--font-size--small);
    font-weight: 700;
    line-height: var(--wp--custom--line-height--normal);
    letter-spacing: 0;
    white-space: nowrap; }
  .wp-block-post-terms.taxonomy-category .wp-block-post-terms__prefix,
  .wp-block-post-terms.taxonomy-category .wp-block-post-terms__suffix, .wp-block-post-terms.taxonomy-kb_category .wp-block-post-terms__prefix,
  .wp-block-post-terms.taxonomy-kb_category .wp-block-post-terms__suffix {
    font-family: var(--wp--preset--font-family--inter);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.01em; }
  .wp-block-post-terms.taxonomy-category .wp-block-post-terms__separator, .wp-block-post-terms.taxonomy-kb_category .wp-block-post-terms__separator {
    display: none; }

.wp-block-post-time-to-read {
  align-items: center;
  color: var(--wp--preset--color--deep-beyond);
  display: flex;
  font-size: var(--wp--preset--font-size--small);
  font-weight: 400; }

.wp-block-pullquote {
  font-size: var(--wp--preset--font-size--large) !important; }
  .wp-block-pullquote p {
    font-family: var(--wp--preset--font-family--inter);
    font-weight: 700;
    margin-bottom: var(--wp--preset--spacing--xxs); }
    .wp-block-pullquote p:before {
      content: "“ "; }
    .wp-block-pullquote p:after {
      content: " ”"; }
  .wp-block-pullquote cite {
    font-style: normal;
    font-size: 0.85em; }

.wp-block-separator {
  width: 15rem;
  height: 4px;
  border: 0;
  background: var(--wp--preset--color--link-vapor);
  opacity: .75; }
  .wp-block-separator.is-style-default {
    width: 100%; }
  .wp-block-separator.is-style-wide {
    width: unset;
    height: .6rem;
    background: repeating-linear-gradient(135deg, var(--wp--preset--color--warm-insight), var(--wp--preset--color--warm-insight) 1px, transparent 1px, transparent 4px) !important; }

.wp-block-social-links.is-style-logos-only .wp-social-link svg {
  height: 1.56em;
  width: 1.56em; }

/*--------------------------------------------------------------
# Utilities - Helpers and overrides.
--------------------------------------------------------------*/
.blog .wp-block-post .bfse-post-meta,
.archive .wp-block-post .bfse-post-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .blog .wp-block-post .bfse-post-meta .wp-block-post-author,
  .archive .wp-block-post .bfse-post-meta .wp-block-post-author {
    align-items: center;
    color: var(--wp--preset--color--deep-beyond);
    display: flex;
    font-size: var(--wp--preset--font-size--small);
    font-weight: 400;
    gap: 8px;
    justify-content: center;
    text-decoration: none; }
    .blog .wp-block-post .bfse-post-meta .wp-block-post-author a,
    .archive .wp-block-post .bfse-post-meta .wp-block-post-author a {
      font-size: var(--wp--preset--font-size--small);
      font-weight: 400;
      text-decoration: none;
      color: var(--wp--preset--color--deep-beyond); }
    .blog .wp-block-post .bfse-post-meta .wp-block-post-author .wp-block-post-author__avatar,
    .archive .wp-block-post .bfse-post-meta .wp-block-post-author .wp-block-post-author__avatar {
      margin: 0; }
      .blog .wp-block-post .bfse-post-meta .wp-block-post-author .wp-block-post-author__avatar img,
      .archive .wp-block-post .bfse-post-meta .wp-block-post-author .wp-block-post-author__avatar img {
        border-radius: 50%;
        display: block;
        height: 24px;
        width: 24px; }
    .blog .wp-block-post .bfse-post-meta .wp-block-post-author + .wp-block-post-time-to-read,
    .archive .wp-block-post .bfse-post-meta .wp-block-post-author + .wp-block-post-time-to-read {
      margin: 0; }
      .blog .wp-block-post .bfse-post-meta .wp-block-post-author + .wp-block-post-time-to-read:before,
      .archive .wp-block-post .bfse-post-meta .wp-block-post-author + .wp-block-post-time-to-read:before {
        content: "";
        display: inline-flex;
        margin: 0 8px;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background-color: var(--wp--preset--color--link-vapor); }

.error404 .bfse-404-img-overlap {
  position: relative;
  top: -10vw;
  z-index: 50;
  margin-bottom: -8vw; }

.single-post article p,
.single-post article .wp-block-list {
  font-size: var(--wp--preset--font-size--medium); }

.single-post article p {
  margin-top: 1.3em; }

.single-post article h1 + p,
.single-post article h2 + p,
.single-post article h3 + p,
.single-post article h4 + p,
.single-post article h5 + p,
.single-post article h6 + p {
  margin-top: 0.8em; }

.single .wp-block-group.bfse-entry-meta,
.editor-styles-wrapper .wp-block-group.bfse-entry-meta {
  display: inline-block; }
  .single .wp-block-group.bfse-entry-meta *,
  .editor-styles-wrapper .wp-block-group.bfse-entry-meta * {
    display: inline;
    font-family: var(--wp--preset--font-family--inter);
    font-size: var(--wp--preset--font-size--normal);
    font-weight: 700;
    text-transform: uppercase; }
  .single .wp-block-group.bfse-entry-meta .wp-block-post-author__byline,
  .editor-styles-wrapper .wp-block-group.bfse-entry-meta .wp-block-post-author__byline {
    width: auto; }
  .single .wp-block-group.bfse-entry-meta:has(.wp-block-post-time-to-read) .wp-block-bfse-block-blog-post-entry-meta .bfse-blog-post-meta:after,
  .editor-styles-wrapper .wp-block-group.bfse-entry-meta:has(.wp-block-post-time-to-read) .wp-block-bfse-block-blog-post-entry-meta .bfse-blog-post-meta:after {
    content: "";
    width: 4px;
    height: 4px;
    display: inline-block;
    background: var(--wp--preset--color--link-vapor);
    border-radius: 50%;
    position: relative;
    bottom: 4px;
    margin: 0 2px; }

a:where(:not(.wp-element-button)) {
  text-decoration: underline;
  text-decoration-thickness: 10%;
  text-decoration-color: var(--wp--preset--color--link-vapor);
  transition: text-decoration-color var(--wp--custom--transition-timing--default); }
  a:where(:not(.wp-element-button)):hover {
    text-decoration-color: var(--wp--preset--color--link-vapor); }

ul:not(.wp-block-navigation)
a:where(
:not(
.wp-element-button,
.mp-no-underline,
.mp-text-uppercase,
.taxonomy-category a
)
),
ol
a:where(
:not(
.wp-element-button,
.mp-no-underline,
.mp-text-uppercase,
.taxonomy-category a
)
),
p
a:where(
:not(
.wp-element-button,
.mp-no-underline,
.mp-text-uppercase,
.taxonomy-category a
)
) {
  color: var(--wp--preset--color--link-vapor);
  font-weight: 400;
  text-decoration-color: var(--wp--preset--color--link-vapor);
  text-decoration-thickness: 0.125rem;
  text-underline-offset: 1.5px;
  text-decoration-skip-ink: auto;
  transition: text-decoration-color var(--wp--custom--transition-timing--default); }

ul:not(.wp-block-navigation)
a:where(
:not(
.wp-element-button,
.mp-no-underline,
.mp-text-uppercase,
.taxonomy-category a
)
):hover,
ol
a:where(
:not(
.wp-element-button,
.mp-no-underline,
.mp-text-uppercase,
.taxonomy-category a
)
):hover,
p
a:where(
:not(
.wp-element-button,
.mp-no-underline,
.mp-text-uppercase,
.taxonomy-category a
)
):hover {
  text-decoration-color: var(--wp--preset--color--link-vapor); }

.has-text-color > a {
  color: inherit; }

.single .wp-block-group.bfse-entry-meta,
.editor-styles-wrapper .wp-block-group.bfse-entry-meta {
  display: inline-block; }
  .single .wp-block-group.bfse-entry-meta *,
  .editor-styles-wrapper .wp-block-group.bfse-entry-meta * {
    display: inline;
    font-family: var(--wp--preset--font-family--inter);
    font-size: var(--wp--preset--font-size--normal);
    font-weight: 700;
    text-transform: uppercase; }
  .single .wp-block-group.bfse-entry-meta .wp-block-post-author__byline,
  .editor-styles-wrapper .wp-block-group.bfse-entry-meta .wp-block-post-author__byline {
    width: auto; }
  .single .wp-block-group.bfse-entry-meta:has(.wp-block-post-time-to-read) .wp-block-bfse-block-blog-post-entry-meta .bfse-blog-post-meta:after,
  .editor-styles-wrapper .wp-block-group.bfse-entry-meta:has(.wp-block-post-time-to-read) .wp-block-bfse-block-blog-post-entry-meta .bfse-blog-post-meta:after {
    content: "";
    width: 4px;
    height: 4px;
    display: inline-block;
    background: var(--wp--preset--color--link-vapor);
    border-radius: 50%;
    position: relative;
    bottom: 4px;
    margin: 0 2px; }

