.wp-block-button {
  .wp-block-button__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
    z-index: 0;
    transition: color var(--wp--custom--transition-timing--default),
      background var(--wp--custom--transition-timing--default);
    height: auto;
    letter-spacing: -0.01em;

    &.has-text-align-left {
      justify-content: flex-start;
    }

    &.has-text-align-center {
      justify-content: center;
    }

    &.has-text-align-right {
      justify-content: flex-end;
    }
  }

  &.wp-block-button__width-100 {
    .wp-block-button__link {
      width: 100%;
    }
  }

  &.wp-block-button__width-75 {
    .wp-block-button__link {
      width: 75%;
    }
  }

  &.wp-block-button__width-50 {
    .wp-block-button__link {
      width: 50%;
    }
  }

  &.wp-block-button__width-25 {
    .wp-block-button__link {
      width: 25%;
    }
  }

  // Filled style.
  &.is-style-fill {
    .wp-block-button__link {
      color: var(--wp--preset--color--syntax-heading);
      background-color: var(--wp--preset--color--warm-insight);

      &:hover,
      &:focus {
        color: var(--wp--preset--color--warm-insight);
        background-color: var(--wp--preset--color--syntax-heading);
      }
    }
  }
}

input[type="submit"].wp-block-button__link {
  color: var(--wp--preset--color--syntax-heading);
  background-color: var(--wp--preset--color--warm-insight);
  transition: color var(--wp--custom--transition-timing--default),
    background-color var(--wp--custom--transition-timing--default);

  &:hover,
  &:focus {
    color: var(--wp--preset--color--warm-insight);
    background-color: var(--wp--preset--color--syntax-heading);
  }
}
