.wp-block-group {
  // Style: 100% Height
  &.is-style-h-100 {
    height: 100%;
  }

  // Style: Card
  &.is-style-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #a0a7b9;
    border-radius: var(--wp--custom--border--radius--medium);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
    padding-top: var(--wp--preset--spacing--xxxs);
    padding-bottom: var(--wp--preset--spacing--xxxs);

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: var(--wp--preset--spacing--xxxs);
      content: "";
      background: #fff;
    }

    > * {
      position: relative;
      z-index: 10;
    }
  }

  // Style: Content Center
  &.is-style-h-100-vertical-center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  // Style: Border Radius
  &.is-style-group-border-radius {
    border-radius: var(--wp--custom--border--radius--medium);
  }

  // Style: Drop Shadow
  &.is-style-mp-drop-shadow {
    box-shadow: 0px 4px 9px 0px #1a306212, 0px 16px 16px 0px #1a306212;
  }

  // Style: Gradient Background
  &.is-style-mp-gradient-background {
    position: relative;
    z-index: 10;

    &.has-background {
      background: none !important;
    }

    &:before {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.25;
      background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 137, 119, 0.4) 100%
      );
    }
  }

  // Style: Diagonal Break
  &.is-style-diagonal-break {
    --diagonal-height: 30px;

    @media (min-width: 481px) {
      --diagonal-height: 64px;
    }

    @media (min-width: 782px) {
      --diagonal-height: 80px;
    }
    position: relative;
    margin-bottom: var(--diagonal-height);
    z-index: 10;

    &:not(.has-background) {
      background-color: var(--wp--preset--color--deep-beyond);
    }

    &:after {
      position: absolute;
      left: 0;
      display: block;
      content: "";
      background-color: inherit;
      width: 100vw;
      height: var(--diagonal-height);
      z-index: 1;
    }

    &:after {
      bottom: calc(var(--diagonal-height) * -1);
      clip-path: polygon(100% 100%, 0 0, 100% 0);
    }

    > .aligncenter:not(.alignwide):not(.alignfull):not(.alignleft):not(
        .alignright
      ) {
      padding-left: 1.45em;
      padding-right: 1.45em;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  // Style: Double Diagonal Break
  &.is-style-double-diagonal-break {
    --diagonal-height: 30px;

    @media (min-width: 481px) {
      --diagonal-height: 64px;
    }

    @media (min-width: 782px) {
      --diagonal-height: 80px;
    }
    position: relative;
    margin-bottom: var(--diagonal-height);
    z-index: 10;

    &:not(.has-background) {
      background-color: #d9e4fd40;
    }

    &:before,
    &:after {
      position: absolute;
      left: 0;
      display: block;
      content: "";
      background-color: inherit;
      width: 100vw;
      height: var(--diagonal-height);
      z-index: 1;
    }

    &:before {
      top: calc(var(--diagonal-height) * -1);
      clip-path: polygon(0 0, 0 100%, 100% 100%);
    }

    &:after {
      bottom: calc(var(--diagonal-height) * -1);
      clip-path: polygon(100% 100%, 0 0, 100% 0);
    }
  }

  // Style: Diagonal Break
  &.is-style-transparent-diagonal-break {
    --diagonal-height: 100px;

    @media (min-width: 481px) {
      --diagonal-height: 200px;
    }

    @media (min-width: 782px) {
      --diagonal-height: 200px;
    }
    position: relative;
    margin-bottom: var(--diagonal-height);
    z-index: 10;

    .has-background {
      background-color: transparent !important;
    }

    &:after {
      position: absolute;
      left: 0;
      display: block;
      content: "";
      background-color: var(--wp--preset--color--deep-beyond);
      width: 100vw;
      height: var(--diagonal-height);
      z-index: -1;
    }

    &:after {
      bottom: 0;
      clip-path: polygon(125% 50%, -100% -30%, 0% 500%);
    }

    > .aligncenter:not(.alignwide):not(.alignfull):not(.alignleft):not(
        .alignright
      ) {
      padding-left: 1.45em;
      padding-right: 1.45em;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}
