/* Neutralize the WordPress default at 600px */
/* This forces the menu to STAY in mobile (hamburger) mode until 1025px */
@media (min-width: 600px) {
  /* Keep hiding the expanded menu */
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(
      .is-menu-open
    ) {
    display: none !important;
  }
  /* Keep showing the button to open the menu */
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: flex !important;
  }
}

/* Apply the DESKTOP layout at the custom 1025px breakpoint */
@media (min-width: 1025px) {
  /* Show the expanded menu */
  .wp-block-navigation__responsive-container:not(.hidden-by-default):not(
      .is-menu-open
    ) {
    display: block !important;
  }
  /* Hide the button to open the menu */
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: none !important;
  }
}

.wp-block-navigation__responsive-container-open,
.wp-block-navigation__responsive-container-close {
  svg {
    display: none;
  }
}

.wp-block-navigation__responsive-container-open {
  position: relative;
  color: var(--wp--preset--color--deep-beyond);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--wp--custom--transition-timing--default);

  @include beyondFseMaskIconSVG("mobile-menu-open", $width: 32px, $height: 21px);

  html:not(.has-modal-open) & {
    opacity: 1;
    visibility: visible;
  }
}

.wp-block-navigation__responsive-container-close {
  top: 32px;
  right: 5px;
  width: 32px;
  height: 32px;
  color: var(--wp--preset--color--warm-insight);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--wp--custom--transition-timing--default);

  @include beyondFseMaskIconSVG("mobile-menu-close", $width: 32px, $height: 32px);

  html.has-modal-open & {
    opacity: 1;
    visibility: visible;
  }
}

.wp-block-navigation {
  .wp-block-navigation-item {
    .wp-block-navigation-item__content {
      align-items: center;

      &:focus {
        outline: none;
      }

      .bfse-menu-item-image-holder {
        display: inline-flex;
        align-items: center;
        width: 42px;
        height: 42px;

        .bfse-menu-item-image {
          max-width: 35px;
        }
      }
    }
  }
}
