.wp-block-site-title {
  a {
    color: currentColor;
    text-decoration: underline;
    text-decoration-color: currentColor;
    transition: text-decoration-color
      var(--wp--custom--transition-timing--default);
    &:hover {
      color: currentColor;
      text-decoration-color: currentColor;
    }
  }
}
