<!-- wp:template-part {"slug":"header","theme":"beyond-fse","area":"header","className":"beyond-fse-header is-position-sticky"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|enormous","bottom":"var:preset|spacing|enormous"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--enormous);margin-bottom:var(--wp--preset--spacing--enormous)"><!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|m"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--m)"><!-- wp:query {"queryId":2,"query":{"perPage":12,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"taxQuery":null,"parents":[],"format":[]},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"layout":{"type":"default"}} -->
<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|xxs","bottom":"var:preset|spacing|enormous"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--xxs);margin-bottom:var(--wp--preset--spacing--enormous)"><!-- wp:post-title {"textAlign":"left","isLink":true,"style":{"spacing":{"margin":{"bottom":"0"}}},"fontSize":"m"} /-->

<!-- wp:post-terms {"term":"category","style":{"spacing":{"margin":{"top":"var:preset|spacing|small","bottom":"0"}}}} /-->

<!-- wp:group {"className":"bfse-post-info","style":{"spacing":{"blockGap":"var:preset|spacing|tiny","margin":{"top":"var:preset|spacing|small","bottom":"0"}}},"layout":{"type":"flex","orientation":"horizontal"}} -->
<div class="wp-block-group bfse-post-info" style="margin-top:var(--wp--preset--spacing--small);margin-bottom:0"><!-- wp:post-date {"isLink":true,"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}},"style":{"elements":{"link":{"color":{"text":"var:preset|color|deep-beyond"}}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"deep-beyond","fontSize":"small"} /-->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|deep-beyond"}}}},"textColor":"deep-beyond","fontSize":"small"} -->
<p class="has-deep-beyond-color has-text-color has-link-color has-small-font-size">|</p>
<!-- /wp:paragraph -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|tiny"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|deep-beyond"}}},"typography":{"fontStyle":"normal","fontWeight":"600"}},"textColor":"deep-beyond","fontSize":"small"} -->
<p class="has-deep-beyond-color has-text-color has-link-color has-small-font-size" style="font-style:normal;font-weight:600">Read time:</p>
<!-- /wp:paragraph -->

<!-- wp:post-time-to-read {"displayAsRange":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|deep-beyond"}}},"typography":{"textTransform":"none"}},"textColor":"deep-beyond","fontSize":"small"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"moreText":"Read more","style":{"elements":{"link":{"color":{"text":"var:preset|color|syntax-heading"}}},"spacing":{"margin":{"top":"var:preset|spacing|tiny","bottom":"0","right":"0"}}},"textColor":"syntax-heading"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"className":"load-more infinite-scroll","layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination -->

<!-- wp:query-no-results {"align":"center"} -->
<!-- wp:paragraph {"align":"center","placeholder":"Add text or blocks that will display when a query returns no results."} -->
<p class="has-text-align-center">No results</p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"beyond-fse","area":"footer","className":"beyond-fse-footer"} /-->