<!-- wp:template-part {"slug":"header","theme":"beyond-fse","area":"header","className":"beyond-fse-header is-position-sticky"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|enormous","bottom":"var:preset|spacing|enormous"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--enormous);margin-bottom:var(--wp--preset--spacing--enormous)"><!-- wp:post-content {"align":"full"} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"beyond-fse","area":"footer","className":"beyond-fse-footer"} /-->