/*--------------------------------------------------------------
   Global CSS variables
--------------------------------------------------------------*/
:root {
	--melapress-header-height: 96px;
   --melapress-product-top-header-height: 56px;
   --melapress-product-bottom-header-height: 80px;
}